body {
  background: #f0f1f5;
  margin: 0;
  padding: 2rem 12rem;
  font-family: "Helvetica", sans-serif;
}
nav {
  text-align: right;
}
nav ul {
  float: right;
  vertical-align: middle;
}
nav ul li {
  display: inline-block;
  padding: 0 8px;
}
nav ul li a {
  color: #f9690e;
  text-decoration: none;
}

header > p {
  float: left;
  color: #f9690e;
}
main section:nth-child(1) {
  background-image: url("Images/picture.jpg");
  margin-top: 3rem;
  background-position: center;
  padding: 11rem 15rem;
  background-size: cover;
}
main section:nth-child(2) {
  display: flex;
  gap: 20px;
  margin: 20px 0px;
}
main section:nth-child(1) h1 {
  color: white;
  text-align: center;
}
main section:nth-child(1) span {
  color: #f9690e;
}
main section:nth-child(1) button {
  background-color: #f9690e;
  color: white;
  border: none;
  font-size: 22px;
  padding: 12px;
  font-weight: bold;
  margin-left: 440px;
}

main section:nth-child(1) button:hover {
  color: #f9690e;
  background-color: white;
  cursor: pointer;
}
main section:nth-child(2) article {
  background: #f9690e;
  color: white;
  width: 30.5%;
  display: inline-block;
  padding: 20px;
  padding-left: 20.5px;
}
main section:nth-child(2) article h3 {
  text-align: center;
}

footer {
  margin-top: 30px;
}

footer article {
  width: 49.8%;
  display: inline-block;
}

footer article:nth-child(2) {
  text-align: right;
}

footer a {
  margin: 0 10px;
}
